pipeline/adls2-sql_op.json
{
	"name": "adls2-sql_op",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_createMapping]",
						"storedProcedureParameters": {
							"sourceFile": {
								"type": "String",
								"value": "data1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_op_ds_db1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"additionalColumns": [
							{
								"name": "FileName",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Employee ID",
									"type": "String"
								},
								"sink": {
									"name": "EmpID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "Employee Name",
									"type": "String"
								},
								"sink": {
									"name": "FullName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Salary",
									"type": "String"
								},
								"sink": {
									"name": "Salary",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "Joining Date",
									"type": "String"
								},
								"sink": {
									"name": "JoinDate",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FileName",
									"type": "String"
								},
								"sink": {
									"name": "filename",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Excel1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "mappingJson",
					"value": {
						"value": "@replace(activity('Lookup1').output.value[0].mapping,'\\r\\n\\t','')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"mappingJson": {
				"type": "String"
			},
			"mapping": {
				"type": "String"
			}
		},
		"annotations": []
	}
}