pipeline/getLastModifiedDate.json
{
	"name": "getLastModifiedDate",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get LastModifiedDate",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Binary12",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@pipeline().parameters.FilePath",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Get LastModifiedDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "sql_op_db1_ls",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('insert into lastModifiedList_Files values(''',pipeline().parameters.FilePath, ''',''',item().name, ''',''',formatDateTime(activity('Get LastModifiedDate').output.lastModified, 'yyyy-MM-dd HH:mm:ss'),''')')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"childItems": {
				"type": "array"
			},
			"FilePath": {
				"type": "string"
			}
		},
		"folder": {
			"name": "adls-to-op-mapping"
		},
		"annotations": [],
		"lastPublishTime": "2025-04-18T12:52:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}